In [78]:
for year in range(1993, 2021):
    for mounth in ['06', '11']:
        wget_str = f'https://top500.org/lists/top500/{year}/{mounth}/download/TOP500_{year}{mounth}.xls'
        if year == 2020 and mounth == '06':
            print(wget_str + 'x')
        elif year == 2020 and mounth == '11':
            # закончились данные
            break
        else:
            print(wget_str)

https://top500.org/lists/top500/1993/06/download/TOP500_199306.xls
https://top500.org/lists/top500/1993/11/download/TOP500_199311.xls
https://top500.org/lists/top500/1994/06/download/TOP500_199406.xls
https://top500.org/lists/top500/1994/11/download/TOP500_199411.xls
https://top500.org/lists/top500/1995/06/download/TOP500_199506.xls
https://top500.org/lists/top500/1995/11/download/TOP500_199511.xls
https://top500.org/lists/top500/1996/06/download/TOP500_199606.xls
https://top500.org/lists/top500/1996/11/download/TOP500_199611.xls
https://top500.org/lists/top500/1997/06/download/TOP500_199706.xls
https://top500.org/lists/top500/1997/11/download/TOP500_199711.xls
https://top500.org/lists/top500/1998/06/download/TOP500_199806.xls
https://top500.org/lists/top500/1998/11/download/TOP500_199811.xls
https://top500.org/lists/top500/1999/06/download/TOP500_199906.xls
https://top500.org/lists/top500/1999/11/download/TOP500_199911.xls
https://top500.org/lists/top500/2000/06/download/TOP500_200006.xls
https://top500.org/lists/top500/2000/11/download/TOP500_200011.xls
https://top500.org/lists/top500/2001/06/download/TOP500_200106.xls
https://top500.org/lists/top500/2001/11/download/TOP500_200111.xls
https://top500.org/lists/top500/2002/06/download/TOP500_200206.xls
https://top500.org/lists/top500/2002/11/download/TOP500_200211.xls
https://top500.org/lists/top500/2003/06/download/TOP500_200306.xls
https://top500.org/lists/top500/2003/11/download/TOP500_200311.xls
https://top500.org/lists/top500/2004/06/download/TOP500_200406.xls
https://top500.org/lists/top500/2004/11/download/TOP500_200411.xls
https://top500.org/lists/top500/2005/06/download/TOP500_200506.xls
https://top500.org/lists/top500/2005/11/download/TOP500_200511.xls
https://top500.org/lists/top500/2006/06/download/TOP500_200606.xls
https://top500.org/lists/top500/2006/11/download/TOP500_200611.xls
https://top500.org/lists/top500/2007/06/download/TOP500_200706.xls
https://top500.org/lists/top500/2007/11/download/TOP500_200711.xls
https://top500.org/lists/top500/2008/06/download/TOP500_200806.xls
https://top500.org/lists/top500/2008/11/download/TOP500_200811.xls
https://top500.org/lists/top500/2009/06/download/TOP500_200906.xls
https://top500.org/lists/top500/2009/11/download/TOP500_200911.xls
https://top500.org/lists/top500/2010/06/download/TOP500_201006.xls
https://top500.org/lists/top500/2010/11/download/TOP500_201011.xls
https://top500.org/lists/top500/2011/06/download/TOP500_201106.xls
https://top500.org/lists/top500/2011/11/download/TOP500_201111.xls
https://top500.org/lists/top500/2012/06/download/TOP500_201206.xls
https://top500.org/lists/top500/2012/11/download/TOP500_201211.xls
https://top500.org/lists/top500/2013/06/download/TOP500_201306.xls
https://top500.org/lists/top500/2013/11/download/TOP500_201311.xls
https://top500.org/lists/top500/2014/06/download/TOP500_201406.xls
https://top500.org/lists/top500/2014/11/download/TOP500_201411.xls
https://top500.org/lists/top500/2015/06/download/TOP500_201506.xls
https://top500.org/lists/top500/2015/11/download/TOP500_201511.xls
https://top500.org/lists/top500/2016/06/download/TOP500_201606.xls
https://top500.org/lists/top500/2016/11/download/TOP500_201611.xls
https://top500.org/lists/top500/2017/06/download/TOP500_201706.xls
https://top500.org/lists/top500/2017/11/download/TOP500_201711.xls
https://top500.org/lists/top500/2018/06/download/TOP500_201806.xls
https://top500.org/lists/top500/2018/11/download/TOP500_201811.xls
https://top500.org/lists/top500/2019/06/download/TOP500_201906.xls
https://top500.org/lists/top500/2019/11/download/TOP500_201911.xls
https://top500.org/lists/top500/2020/06/download/TOP500_202006.xlsx

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [3]:
data_list = sorted(os.listdir('data'))
data_list[:5], data_list[-5:]

(['TOP500_199306.xls',
  'TOP500_199311.xls',
  'TOP500_199406.xls',
  'TOP500_199411.xls',
  'TOP500_199506.xls'],
 ['TOP500_201806.xls',
  'TOP500_201811.xls',
  'TOP500_201906.xls',
  'TOP500_201911.xls',
  'TOP500_202006.xlsx'])

In [4]:
data_1 = []


for i in range(30):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=1, index_col=0)
    data_1.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['RMax'].iloc[0]))
    
for i in range(30, 37):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    data_1.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['RMax'].iloc[0]))
    
for i in range(37, 48):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    data_1.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['Rmax'].iloc[0]))
    
for i in range(48, 55):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    data_1.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['Rmax [TFlop/s]'].iloc[0]*1000))

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [5]:
data_500 = []


for i in range(30):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=1, index_col=0)
    print(i, data_list[i])
    print(data_list[i][7:11], df['RMax'].iloc[-1])
    data_500.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['RMax'].iloc[-1]))
    
for i in range(30, 37):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    print(i, data_list[i])
    print(data_list[i][7:11], df['RMax'].iloc[-1])
    data_500.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['RMax'].iloc[-1]))
    
for i in range(37, 48):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    print(i, data_list[i])
    print(data_list[i][7:11], df['Rmax'].iloc[-1])
    data_500.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['Rmax'].iloc[-1]))
    
for i in range(48, 55):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    print(i, data_list[i])
    print(data_list[i][7:11], df['Rmax [TFlop/s]'].iloc[-1])
    data_500.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['Rmax [TFlop/s]'].iloc[-1]*1000))

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
0 TOP500_199306.xls
1993 0.422
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
1 TOP500_199311.xls
1993 0.472
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
2 TOP500_199406.xls
1994 0.822
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
3 TOP500_199411.xls
1994 1.114
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
4 TOP500_199506.xls
1995 1.955
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
5 TOP500_199511.xls
1995 2.489
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
6 TOP500_199606.xls
1996 3.306
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
7 TOP500_199611.xls
1996 4.62
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
8 TOP500_199706.xls
1997 7.67
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
9 TOP500_199711.xls
1997 9.513
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
10 TOP500_199806.xls
1998 13.39
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
11 TOP500_199811.xls
1998 17.12
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
12 TOP500_199906.xls
1999 24.7
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
13 TOP500_199911.xls
1999 33.09
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
14 TOP500_200006.xls
2000 43.82
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
15 TOP500_200011.xls
2000 55.3
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
16 TOP500_200106.xls
2001 67.78
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
17 TOP500_200111.xls
2001 94.3
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
18 TOP500_200206.xls
2002 134.3
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
19 TOP500_200211.xls
2002 195.8
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
20 TOP500_200306.xls
2003 245.1
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
21 TOP500_200311.xls
2003 402.5
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
22 TOP500_200406.xls
2004 624.258
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
23 TOP500_200411.xls
2004 850.6
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
24 TOP500_200506.xls
2005 1166.0
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
25 TOP500_200511.xls
2005 1645.7
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
26 TOP500_200606.xls
2006 2026.0
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
27 TOP500_200611.xls
2006 2736.9
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
28 TOP500_200706.xls
2007 4005.0
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
29 TOP500_200711.xls
2007 5929.6
30 TOP500_200806.xls
2008 8996.78
31 TOP500_200811.xls
2008 12593.5
32 TOP500_200906.xls
2009 17088.8
33 TOP500_200911.xls
2009 20051.0
34 TOP500_201006.xls
2010 24670.0
35 TOP500_201011.xls
2010 31112.2
36 TOP500_201106.xls
2011 40187.3
37 TOP500_201111.xls
2011 50941.4
38 TOP500_201206.xls
2012 60824.4
39 TOP500_201211.xls
2012 76411.0
40 TOP500_201306.xls
2013 96619.0
41 TOP500_201311.xls
2013 117831.3
42 TOP500_201406.xls
2014 133700.0
43 TOP500_201411.xls
2014 153381.0
44 TOP500_201506.xls
2015 164790.72
45 TOP500_201511.xls
2015 206304.0
46 TOP500_201606.xls
2016 286100.0
47 TOP500_201611.xls
2016 349333.0
48 TOP500_201706.xls
2017 430.459
49 TOP500_201711.xls
2017 548.672
50 TOP500_201806.xls
2018 715.551
51 TOP500_201811.xls
2018 874.8
52 TOP500_201906.xls
2019 1021.0
53 TOP500_201911.xls
2019 1142.0
54 TOP500_202006.xlsx
2020 1228.0

In [6]:
data_sum = []


for i in range(30):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=1, index_col=0)
    data_sum.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['RMax'].sum()))
    
for i in range(30, 37):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    data_sum.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['RMax'].sum()))
    
for i in range(37, 48):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    data_sum.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['Rmax'].sum()))
    
for i in range(48, 55):
    df = pd.read_excel(os.path.join('data', data_list[i]), header=0, index_col=0)
    data_sum.append((f'{data_list[i][11:13]}/{data_list[i][7:11]}', df['Rmax [TFlop/s]'].sum()*1000))

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [7]:
parse_data = {
    'data': [i[0] for i in data_1],
    '#1 GFlop/s': [i[1] for i in data_1],
    '#500 GFlop/s': [i[1] for i in data_500],
    'Sum GFlop/s': [i[1] for i in data_sum],
}

In [8]:
df = pd.DataFrame(parse_data)
df.head()

      data  #1 GFlop/s  #500 GFlop/s  Sum GFlop/s
0  06/1993        59.7         0.422     1122.845
1  11/1993       124.0         0.472     1466.210
2  06/1994       143.4         0.822     2233.882
3  11/1994       170.0         1.114     2622.338
4  06/1995       170.0         1.955     3927.029

In [9]:
df.to_csv('data_top500_hpc.csv')